body {
 height: 100vh;
 margin: 0;
 overflow-y: scroll;
 font-family: Arial, Helvetica, sans-serif;
 display: flex;
 flex-direction: column;

}

.site-content {
    flex: 1;
}
.header,
.hero,
.footer {
    background-color: #1F2937 ;
    color: white;

}
.header {
    display:flex;   
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.main {
    font-size: 24px;
}

.left-links ul {
    font-size: 18px ;
    list-style-type: none;
    display:flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.left-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.main-text {
    font-size: 48px;
}

.secondary-text {
    font-size: 15px;
    color: #E5E7EB;
}
.hero-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
    height:250px;

}

button {
    color:#E5E7EB;
    border-radius: 5px;
    border: 0;
    background-color: #3882F6 ;
    width: 90px;
    padding: 3px;
}

.mountain {
    height: 250px;
    width: auto;
}
.info-header {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding: 40px;
}

.card {
   max-width: 150px;
   font-size: 12px;
   color: #97999c;
    
}

.information-container img {
    height:auto;
    width: 150px;
    border:3px solid #3882F6;
    border-radius: 15px;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 150px;
}

.quote {
    max-width: 700px;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937
}

.author {
    font-weight: bold;
    padding-top: 50px;
    align-self: flex-end;
}

.signup-container {
    display: flex;
    justify-content: center;
    padding: 100px;
    color:#E5E7EB;
}

.signup-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px;
}

.signup-container .sign-up {

    border: solid 1px #E5E7EB;

}

.subtext {
    font-size: 12px;
    color: #c6c9ce;
}

.footer {
    margin-bottom: auto;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center ;
}